/* mobile */
@media(max-width:500px){
    
    body {
        overflow-x: hidden;
        width:500px;
        margin: 0 auto;
    }
    .bg-grey {
        background: #f7f7f7;
    }
    /* banner */
    img.banner-img {
        position: relative;
        filter:brightness(50%);
        height: 600px;
        width:500px;
    }
    #banner h1{
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top: 125px;
        left: 114px;
        color: #f7f7f7;
        font-size: 41px;
    }
    #banner span{
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top: 176px;
        right: 199px;
        color: #8f9294;
        font-size: 16px;
    }
    /* end banner */
    /* nav */
    section > .container{
        font-family: 'Open Sans', sans-serif;
       
    }
    
    #nav-bar {
        position: relative;
        right: 485px;
    }
    .container a{
        border: none;
        color: black;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        
    }
    .container a.a1{
       
        color: black;
        display: block;
        font-size: 12px;
        text-transform: uppercase;
       
    }
    .container a.a2{
        position: relative;
        bottom: 27px;
        right: 25px;
        color: black;
        font-size: 12px;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
    }
    .container a.a3{
       
        color: black;
        position: relative;
        bottom: 55px;
        right: 14px;
        font-size: 12px;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
    }
    .container a.a4{
       
        color: black;
        position: relative;
        bottom: 81px;
        right: 27px;
        font-size: 12px;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
    }
    .container-t {
        display: none;
        right: 8px;
        position: relative;
        top: 6px;
    }
    .container-t h1{
        position: relative;
        top: 25px;
    }
    .container-t span{
        font-size: 10px;
        color: #8f9294;
    }
    i.icon-user{
        position: relative;
        right: 84px;
        color: #39aae0;
    }
    i.icon-doc-text-inv{
        position: relative;
        right: 64px;
        color: #39aae0;
    }
    i.icon-mail-alt{
        position: relative;
        right: 88px;
        color: #39aae0;
    }
    i.icon-star-1{
        position: relative;
        right: 60px;
        color: #39aae0;
    }
    
    /* end nav */
        /* * muc tieu  */ 
    #about.bg-grey{
        width: 500px;
        position: relative;
        bottom: 74px;
    }
    .container-info {
        display: grid;
        grid-template-columns: auto ;
        font-family: 'Open Sans', sans-serif;
    }
    #target{
        padding-left: 32px;
        padding-top: 30px;
        width: 500px;
    }
    #target p{
        font-size: 12px;
        padding-right: 76px;
        color: #8f9294;
    }
    h1.section-title-target {
        font-size: 23px;
        font-weight: 700;
    }
    /* info ca nhan */
    #personal-info{
        background-color: #e2e5e7;
        width: 500px;
        padding-top: 30px;
        height: 290px;

    }
    #personal-info h1{
        padding-left: 37px;
    }
    ul.mt-40.info {
        list-style-type: none;
    }
    ul.mt-40.info li span {
        font-size: 12px;
        font-weight: bold;
        color: black;
    }
    ul.mt-40.info li{
        line-height: 1.8;
        font-size: 12px;
        color: #8f9294;
    }
    .personal-icon{
        color: #8f9294;
        padding-left: 36px;
    }
    i.icon-facebook{
        color: #39aae0;
    }
    i.icon-twitter{
        color: #39aae0;
    }
    i.icon-gplus{
        color: #39aae0;
    }
    i.icon-linkedin{
        color: #39aae0;
    }
    #job-info{
        position: relative;
        top: 19px;
    }
    .container-job{
       
        display: grid;
        grid-template-columns: auto ;
        font-family: 'Open Sans', sans-serif;
    }
    /* kinh nghiem */
    .experience {
        position: relative;
        bottom: 84px;
        right: 261px;
        width: 500px;
        display: inline-block;
        border: 1px solid #e2e5e7;
    }
    ul.job {
        font-size: 12px;
        color:#39aae0;
    }
    ul.job li h4{
        color: black;
    }
    ul.job li p{
        color: #8f9294;
        padding-right: 20px;
    }
    ul.job li i{
        color: #8f9294;
    }
    ul.job li span{
        
        color: #8f9294;
        
    }
    .timehere{
        color: #f7f7f7;
        width: 54px;
        background-color: #39aae0;
        text-align: center;
        display: inline-block;
        border-radius: 16px;
    }
    .experience h1{
        
        display: inline-block;
        padding-left: 25px;
    }
    i.ic-toolbox{
        color: #8f9294;
        font-size: 30px;
        position: relative;
        left: 34px;
    }
    /* hoc van */
    .study{
        height: 350px;
        width: 500px;
        display: inline-block;
        right: 259px;
        bottom: 62px;
        position: relative;
        border: 1px solid #e2e5e7;
    }
    .study h1{
        padding-left: 25px;
    }
    ul.study-CC{
        font-size: 12px;
        position: relative;
        bottom: 37px;
        color: #39aae0;
    }
    ul.study-CC p {
        padding-right: 14px;
        font-size: 12px;
        color: #8f9294;
    }
    ul.study-CC i{
        font-size: 12px;
        color:#8f9294;
    }
    ul.study-CC h4{
        font-size: 12px;
        color: black;
    }
    i.ic-pencil{
        position: relative;
        font-size: 30px;
        left: 188px;
        bottom: 54px;
        color: #8f9294;
    }
    /* hoat dong */
    .activity{
        height: 290px;
        width: 500px;
        left: -259px;
        position: relative;
        border: 1px solid #e2e5e7;
        bottom: 47px;
    }
    i#ic2.ic-toolbox  {
        position: relative;
        font-size: 30px;
        left: 188px;
        bottom: 54px;
        color: #8f9294;
    }
    .activity i{
        font-size: 12px;
        color: #8f9294;
    }
    .activity h1{
        padding-left: 25px;
    }
    ul.activity-hd{
        position: relative;
        bottom: 39px;
        font-size: 12px;
        color: #39aae0;
    }
    ul.activity-hd h4{
        color: black;
        font-size: 12px;
    }
    ul.activity-hd p{
        padding-right: 14px;
        font-size: 12px;
        color: #8f9294;
    }
    /* so thich */
    .interests {
        position: relative;
        top: 473px;
        width: 500px;
        height: 230px;
        display: inline-block;
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid #e2e5e7;
        right: 264px;
    }
    .interests h1{
        padding-left: 25px;
    }
    i.ic-telescope{
        position: relative;
        /* display: inline-block; */
        font-size: 38px;
        bottom: 60px;
        left: 173px;
        color: #8f9294;
    }
    .interests-ic{
        width: 50px;
        height: 50px;
        margin-left: 13px;
        border-radius: 50%;
        border: 1px solid  #39aae0;
    }
    
    .ic-megaphone {
        padding-left: 14px;
        padding-top: 15px;
        color: #39aae0;
    }
    p.ic-mega{
        font-size: 12px;
        margin-left: 13px;
        color: #8f9294;
    }
    .strategy-ic{
        text-align: center;
        width: 50px;
        height: 50px;
        position: relative;
        left: 71px;
        bottom: 85px;
        border-radius: 50%;
        border: 1px solid  #39aae0;
    }
    i.ic-strategy{
        padding-top: 8px;
        color: #39aae0;
        font-size: 29px;
    }
    p.ic-stra{
        position: relative;
        font-size: 12px;
        color: #8f9294;
        left: 71px;
        bottom: 84px
    
    }
    .hotairballoon-ic {
        text-align: center;
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 168px;
        left: 129px;
        border-radius: 50%;
        border: 1px solid  #39aae0;
    }
    i.ic-hotairballoon{
        padding-top: 8px;
        font-size: 30px;
        color: #39aae0;
    }
    p.ic-hotair{
        position: relative;
        left: 135px;
        bottom: 168px;
        font-size: 12px;
        color: #8f9294;
    }
    .basket-ic{
        text-align: center;
        left: 187px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #39aae0;
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 252px;
    }
    i.ic-basket {
        margin-top: 7px;
        font-size: 29px;
        color: #39aae0;
    }
    p.ic-bas{
        position: relative;
        left: 193px;
        bottom: 251px;
        font-size: 12px;
        color: #8f9294;
    }
    .icon{
        position: relative;
        bottom: 17px;
    }
    /* ngon ngu  */
    .language {
        left: -264px;
        position: relative;
        width: 500px;
        height: 172px;
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid #e2e5e7;
        bottom: -28px;
    }
    i.ic-mic{
       
        position: relative;
        bottom: 54px;
        left: 196px;
        font-size: 30px;
        color: #8f9294;
    
    }
    span.score{
        background: #199dcb;
        display:inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
    }
    span.score-2{
        background: #e2e5e7;
        display:inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
    }
    .score-div{
        position: relative;
        bottom: 65px;
        padding-left: 22px;
    }
    .language h1{
        padding-left: 22px;
    }
    p.score{
        font-size: 12px;
        position: relative;
        bottom:34px;
        padding-left: 22px;
    }
    p.score-J{
        font-size: 12px;
        position: relative;
        bottom:64px;
        padding-left: 22px;
    }
    
    .score-divJ{
        position: relative;
        bottom: 94px;
        padding-left: 22px;
    }
    
    /* ky nang */
    .skills{
        position: relative;
        bottom: 491px;
        width: 500px;
        height: 310px;
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid #e2e5e7;
        right: 261px;
    }
    .score-skill {
        position: relative;
        bottom: 44px;
        padding-left: 25px;
    }
    i.ic-tools-2{
        position: relative;
        bottom: 51px;
        left: 188px;
        font-size: 30px;
        color: #8f9294;
    }
    .skills h1{
        padding-left: 25px;
    }
    p.skill{
        position: relative;
        font-size: 12px;
        padding-left: 25px;
        bottom: 23px;
    }
    .score-skill-2{
        position: relative;
        bottom: 61px;
        padding-left: 25px;
    }
    p.skill-2{
        position: relative;
        font-size: 12px;
        padding-left: 25px;
        bottom: 46px;
    }
    .score-skill-3{
        position: relative;
        bottom: 76px;
        padding-left: 25px;
    }
    p.skill-3{
        position: relative;
        font-size: 12px;
        padding-left: 25px;
        bottom: 57px;
    }
    .score-skill-4{
        position: relative;
        bottom: 89px;
        padding-left: 25px;
    }
    p.skill-4{
        position: relative;
        font-size: 12px;
        padding-left: 25px;
        bottom: 71px;
    }
    /* chung chi */
    #certificate.bg-grey{
        position: relative;
        height: 684px;
        bottom: 5px;
    }
    .certificate{
        position: relative;
        left: 23px;
        font-family: 'Open Sans', sans-serif;
    }
    h1#Cert.section-title{
        padding-top: 34px;
     }
    .cert{
        border: none;
        width: 475px;
        height: 204px;
       display: block;
        
    }
    /* chung chi web */
    .Cert-web {
        border-bottom: 1px solid red;
        border-right: none;
        display: block;
        width: 455px;
        height: 210px;
       
    }
    img.Cert_WEB{
        width: 428px;
        height: 142px;
    }
    
    .Cert-web h4{
        font-size: 12px;
        position: relative;
        left: 9px;
        bottom: 11px;
    }
    .Cert-web p{
        font-size: 12px;
        color: #8f9294;
        position: relative;
        left: 11px;
        bottom: 3px;
    }
    
    /* chung chi java */
    .Cert-PRF {
        border-bottom: 1px solid red;
        top: 26px;
        position: relative;
        width: 455px;
        height: 201px;
        left: 3px;
    }
    img.Cert_PRF{
        width: 426px;
        height: 136px;
    }
    .Cert-PRF h4{
        font-size: 12px;
        position: relative;
        left: 8px;
        bottom: 9px;
    }
    .Cert-PRF p{
        font-size: 12px;
        color: #8f9294;
        position: relative;
        left: 10px;
        bottom: 0px;
    }
   
    img.Cert_DBI {
        padding-top: 2px;
        width: 426px;
        height: 100px;
    }
    .cert-2{
        position: relative;
        top: 224px;
        padding-top: 40px;
        height: 130px;
    }
    .cert-2 h4{
        font-size: 12px;
        position: relative;
        left: 9px;
        bottom: 8px;
    }
    .cert-2 p{
        font-size: 12px;
        color: #8f9294;
        position: relative;
        left: 10px;
        bottom: 0px;
    }
    /* du an  */
    #project{
        position: relative;
        top: 7px;
        right: 204px;
    }
    h1.section-titleda{
        font-family: 'Open Sans', sans-serif;
        padding-left: 230px;
    }
    .project-01{
        position: relative;
        left: 216px;
    }
    .project-d{
        font-family: 'Open Sans', sans-serif;
        color: #8f9294;
        width: 380px;
        height: 400px;
        display: grid;
        grid-template-columns: auto;
    }
    img.project-01-i{
        width: 500px;
        height: 146px;
    }
    .type-cv{
        position: relative;
        bottom: 4px;
        width: 500px;
        border: 1px solid #e2e5e7;
        height: 43px;
    }
    .type-cv span{
        position: absolute;
        font-size: 12px;
        top: 14px;
        left: 25px;
        font-weight: 600;
        color: black;
    }
    .study-p{
        font-size: 12px;
        border: 1px solid #e2e5e7;
        padding-right: 1px;
        display: flex;
        width: 500px;
        height: 40px;
        position: relative;
        bottom: 5px;
    }
    .year{
        position: relative;
        top: 10px;
        border-radius: 32%;
        color: #fff;
        text-align: center;
        width: 46px;
        height: 19px;
        background-color: #39aae0;
        left: 18px;
    }
    i.icon-user-1{
        padding: 7px 9px 0 33px;
    }
    i.icon-lamp{
        padding-top: 7px;
    }
    span.funix{
        padding-top: 9px;
        padding-right: 9px;
    }
    span.developer{
        padding-top: 9px;
    }
    .table{
        position: relative;
        width: 500px;
        border: 1px solid #e2e5e7;
        bottom: 5px
    }

    table.cv{
        width: 500px;
        height: 180px

    }
    table.cv tr, td.td{
        width: 75px;
    }
    table.cv tr, td{
        vertical-align: top;
        font-size: 12px;
    
    }
    /* project 02 */
    .project-02{
        position: relative;
        top:33px;
        left: 218px;
    }
    /* project 03 */
    .project-03{
        position: relative;
        top :33px;
        left: 218px;
    }
    /* footer */
    #footer.bg-grey{
        position: relative;
        top: 900px;
        margin-top: 20px;
        text-align: center;
        height: 50px;
    }
    ul.footer-f li{
        color: #e6e8e9;
        font-size: 12px;
        list-style-type: none;
        display: inline-block;
        padding-right: 0px;
    }
    .container-footer {
       font-family: 'Open Sans', sans-serif;
       background-color:#e6e8e9 ;
       padding-top: 1px;
       height: 50px;
    }
    i.icon-facebook-circled{
        padding-top: 72px;
        font-size: 20px;
        color: #39aae0;
        position: relative;
        top: 2px;
    }
    i.icon-linkedin-circled{
        padding-top: 72px;
        font-size: 20px;
        color: #39aae0;
        position: relative;
        top: 2px;
    }
    i.icon-github-circled{
        padding-top: 72px;
        font-size: 20px;
        color: #39aae0;
        position: relative;
        top: 2px;
    }
}