/* tablet  rá»™ng 768px*/
@media (max-width:768px) {
    
    body {
        /* text-align: center; */
        width:768px;
        margin: 0 auto;
    }
    .bg-grey {
        background: #f7f7f7;
    }
    /* banner */
    img.banner-img {
        position: relative;
        filter:brightness(50%);
        height: 250px;
        width:768px;
    }
    #banner h1{
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top: 70px;
        left: 331px;
        color: #f7f7f7;
        font-size: 23px;
    }
    #banner span{
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top: 95px;
        right: 322px;
        color: #8f9294;
        font-size: 11px;
    }
    /* end banner */
    /* nav */
    section > .container{
    
        font-family: 'Open Sans', sans-serif;
        border-bottom:1px solid #e2e5e7;
        width: 1170px;
        margin: auto;
        display: block;
        padding: 0px 50px;
    }
    
    #nav-bar {
        z-index: 1;
        position: relative;
        bottom: 0;
        
    }
    .container a{
        color: black;
        font-size: 12px;
        border-right: 1px solid #e2e5e7;
        padding: 14px 16px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
    }
    .container a.a1{
        right: 18px;
        position: relative;
        color: black;
        border-left: 1px solid #e2e5e7;
        font-size: 12px;
        padding: 14px 16px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
    }
    .container a.a2{
        right: 18px;
        position: relative;
        border-right: 1px solid #e2e5e7;
        color: black;
        font-size: 12px;
        padding: 14px 16px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
    }
    .container a.a3{
        
        border-left: 1px solid #e2e5e7;
        color: black;
        font-size: 12px;
        padding: 14px 9px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
    }
    .container-t {
        display: none;
        right: 8px;
        position: relative;
        top: 6px;
    }
    .container-t h1{
        position: relative;
        top: 25px;
    }
    .container-t span{
        font-size: 10px;
        color: #8f9294;
    }
    i.icon-user{
        color: #39aae0;
    }
    i.icon-doc-text-inv{
        color: #39aae0;
    }
    i.icon-mail-alt{
        color: #39aae0;
    }
    i.icon-star-1{
        color: #39aae0;
    }
    
    /* end nav */
        /* * muc tieu  */ 
    #about.bg-grey{
        position: relative;
        bottom: 0px;
    }
    
    .container-info {
        display: grid;
        grid-template-columns: 50% auto;
        font-family: 'Open Sans', sans-serif;
    }
    #target{
        padding-left: 66px;
        padding-top: 30px;
    }
    #target p{
        font-size: 12px;
        padding-right: 76px;
        color: #8f9294;
    }
    /* info ca nhan */
    #personal-info{
        background-color: #e2e5e7;
        padding-top: 30px;
        height: 290px;

    }
    #personal-info h1{
        padding-left: 37px;
    }
    ul.mt-40.info {
        list-style-type: none;
    }
    ul.mt-40.info li span {
        font-size: 12px;
        font-weight: bold;
        color: black;
    }
    ul.mt-40.info li{
        line-height: 1.8;
        font-size: 12px;
        color: #8f9294;
    }
    .personal-icon{
        color: #8f9294;
        padding-left: 36px;
    }
    i.icon-facebook{
        color: #39aae0;
    }
    i.icon-twitter{
        color: #39aae0;
    }
    i.icon-gplus{
        color: #39aae0;
    }
    i.icon-linkedin{
        color: #39aae0;
    }
    #job-info{
        position: relative;
        top: 19px;
    }
    .container-job{
        padding-left: 270px;
        display: grid;
        grid-template-columns: auto auto;
        font-family: 'Open Sans', sans-serif;
    }
    /* kinh nghiem */
    .experience {
        position: relative;
        right: 243px;
        width: 341px;
        display: inline-block;
        border: 1px solid #e2e5e7;
    }
    ul.job {
        font-size: 12px;
        color:#39aae0;
    }
    ul.job li h4{
        color: black;
    }
    ul.job li p{
        color: #8f9294;
        padding-right: 20px;
    }
    ul.job li i{
        color: #8f9294;
    }
    ul.job li span{
        
        color: #8f9294;
        
    }
    .timehere{
        color: #f7f7f7;
        width: 54px;
        background-color: #39aae0;
        text-align: center;
        display: inline-block;
        border-radius: 16px;
    }
    .experience h1{
        
        display: inline-block;
        padding-left: 25px;
    }
    i.ic-toolbox{
        color: #8f9294;
        font-size: 30px;
        position: relative;
        left: 34px;
    }
    /* hoc van */
    .study{
        height: 273px;
        width: 346px;
        display: inline-block;
        right: 215px;
        position: relative;
        border: 1px solid #e2e5e7;
    }
    .study h1{
        padding-left: 25px;
    }
    ul.study-CC{
        font-size: 12px;
        position: relative;
        bottom: 37px;
        color: #39aae0;
    }
    ul.study-CC p {
        padding-right: 14px;
        font-size: 12px;
        color: #8f9294;
    }
    ul.study-CC i{
        font-size: 12px;
        color:#8f9294;
    }
    ul.study-CC h4{
        font-size: 12px;
        color: black;
    }
    i.ic-pencil{
        position: relative;
        font-size: 30px;
        left: 188px;
        bottom: 54px;
        color: #8f9294;
    }
    /* hoat dong */
    .activity{
        height: 290px;
        width: 341px;
        display: inline-block;
        left: 129px;
        /* right: -134px; */
        position: relative;
        border: 1px solid #e2e5e7;
        bottom: 69px;
    }
    i#ic2.ic-toolbox  {
        position: relative;
        font-size: 30px;
        left: 188px;
        bottom: 54px;
        color: #8f9294;
    }
    .activity i{
        font-size: 12px;
        color: #8f9294;
    }
    .activity h1{
        padding-left: 25px;
    }
    ul.activity-hd{
        position: relative;
        bottom: 20px;
        font-size: 12px;
        color: #39aae0;
    }
    ul.activity-hd h4{
        color: black;
        font-size: 12px;
    }
    ul.activity-hd p{
        padding-right: 14px;
        font-size: 12px;
        color: #8f9294;
    }
    /* so thich */
    .interests {
        position: relative;
        top: 344px;
        width: 341px;
        height: 200px;
        display: inline-block;
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid #e2e5e7;
        right: 586px;
    }
    .interests h1{
        padding-left: 25px;
    }
    i.ic-telescope{
        position: relative;
        /* display: inline-block; */
        font-size: 38px;
        bottom: 60px;
        left: 173px;
        color: #8f9294;
    }
    .interests-ic{
        width: 50px;
        height: 50px;
        margin-left: 13px;
        border-radius: 50%;
        border: 1px solid  #39aae0;
    }
    
    .ic-megaphone {
        padding-left: 14px;
        padding-top: 15px;
        color: #39aae0;
    }
    p.ic-mega{
        font-size: 12px;
        margin-left: 13px;
        color: #8f9294;
    }
    .strategy-ic{
        text-align: center;
        width: 50px;
        height: 50px;
        position: relative;
        left: 71px;
        bottom: 82px;
        border-radius: 50%;
        border: 1px solid #39aae0;

    }
    i.ic-strategy{
        padding-top: 8px;
        color: #39aae0;
        font-size: 29px;
    }
    p.ic-stra{
        position: relative;
        font-size: 12px;
        color: #8f9294;
        left: 71px;
        bottom: 84px
    
    }
    .hotairballoon-ic {
        text-align: center;
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 167px;
        left: 129px;
        border-radius: 50%;
        border: 1px solid  #39aae0;
    }
    i.ic-hotairballoon{
        padding-top: 8px;
        font-size: 30px;
        color: #39aae0;
    }
    p.ic-hotair{
        position: relative;
        left: 135px;
        bottom: 167px;
        font-size: 12px;
        color: #8f9294;
    }
    .basket-ic{
        text-align: center;
        left: 187px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #39aae0;
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 254px;
    }
    i.ic-basket {
        margin-top: 7px;
        font-size: 29px;
        color: #39aae0;
    }
    p.ic-bas{
        position: relative;
        left: 193px;
        bottom: 250px;
        font-size: 12px;
        color: #8f9294;
    }
    .icon{
        position: relative;
        bottom: 17px;
    }
    /* ngon ngu  */
    .language {
        left: 129px;
        position: relative;
        width: 341px;
        height: 172px;
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid #e2e5e7;
        bottom: 50px;
    }
    i.ic-mic{
       
        position: relative;
        bottom: 54px;
        left: 196px;
        font-size: px;
        color: #8f9294;
    
    }
    span.score{
        background: #199dcb;
        display:inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
    }
    span.score-2{
        background: #e2e5e7;
        display:inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
    }
    .score-div{
        position: relative;
        bottom: 65px;
        padding-left: 22px;
    }
    .language h1{
        padding-left: 22px;
    }
    p.score{
        font-size: 12px;
        position: relative;
        bottom:36px;
        padding-left: 22px;
    }
    p.score-J{
        font-size: 12px;
        position: relative;
        bottom:64px;
        padding-left: 22px;
    }
    
    .score-divJ{
        position: relative;
        bottom: 94px;
        padding-left: 22px;
    }
    
    /* ky nang */
    .skills{
        position: relative;
        right: 586px;
        bottom: 286px;
        width: 340px;
        height: 310px;
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid #e2e5e7;
    }
    .score-skill {
        position: relative;
        bottom: 44px;
        padding-left: 25px;
    }
    i.ic-tools-2{
        position: relative;
        bottom: 51px;
        left: 188px;
        font-size: 30px;
        color: #8f9294;
    }
    .skills h1{
        padding-left: 25px;
    }
    p.skill{
        position: relative;
        font-size: 12px;
        padding-left: 25px;
        bottom: 23px;
    }
    .score-skill-2{
        position: relative;
        bottom: 61px;
        padding-left: 25px;
    }
    p.skill-2{
        position: relative;
        font-size: 12px;
        padding-left: 25px;
        bottom: 46px;
    }
    .score-skill-3{
        position: relative;
        bottom: 76px;
        padding-left: 25px;
    }
    p.skill-3{
        position: relative;
        font-size: 12px;
        padding-left: 25px;
        bottom: 57px;
    }
    .score-skill-4{
        position: relative;
        bottom: 89px;
        padding-left: 25px;
    }
    p.skill-4{
        position: relative;
        font-size: 12px;
        padding-left: 25px;
        bottom: 71px;
    }
    /* chung chi */
    #certificate.bg-grey{
        position: relative;
        height: 462px;
        bottom: 5px;
    }
    .certificate{
        position: relative;
        left: 23px;
        font-family: 'Open Sans', sans-serif;
    }
    h1#Cert.section-title{
        padding-top: 34px;
     }
    .cert{
        width: 720px;
        display: grid;
        height: 204px;
        border-bottom: 1px solid #d6c08d;
        grid-template-columns: 50% 50%;
    }
    /* chung chi web */
    .Cert-web {
        width: 346px;
        height: 188px;
        border-right: 1px solid #d6c08d;
    }
    img.Cert_WEB{
            width: 332px;
            height: 136px;
    }
    .Cert-web h4{
        font-size: 12px;
        position: relative;
        left: 9px;
        top: 7px;
    }
    .Cert-web p{
        font-size: 12px;
        color: #8f9294;
        position: relative;
        left: 11px;
        bottom: 1px;
    }
    
    /* chung chi java */
    .Cert-PRF {
        position: relative;
        height: 101px;
        left: 3px;
    }
    img.Cert_PRF{
        width: 332px;
        height: 136px;
    }
    .Cert-PRF h4{
        font-size: 12px;
        position: relative;
        left: 8px;
        top: 7px;
    }
    .Cert-PRF p{
        font-size: 12px;
        color: #8f9294;
        position: relative;
        left: 10px;
        bottom: 1px;
    }
   
    img.Cert_DBI {
        padding-top: 2px;
        width: 160px;
        height: 100px;
    }
    .cert-2{
        padding-top: 40px;
        height: 130px;
    }
    .cert-2 h4{
        font-size: 12px;
        position: relative;
        left: 9px;
        top: 7px;
    }
    .cert-2 p{
        font-size: 12px;
        color: #8f9294;
        position: relative;
        left: 10px;
        bottom: 1px;
    }
    /* du an  */
    #project{
        position: relative;
        right: 206px;
        top: 2px;
    }
    h1.section-titleda{
        font-family: 'Open Sans', sans-serif;
        padding-left: 230px;
    }
    .project-01{
        position: relative;
        left: 240px;
    }
    .project-d{
        font-family: 'Open Sans', sans-serif;
        color: #8f9294;
        width: 768px;
        height: 400px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    img.project-01-i{
        width: 207px;
        height: 146px;
    }
    .type-cv{
        position: relative;
        bottom: 4px;
        width: 207px;
        border: 1px solid #e2e5e7;
        height: 43px;
    }
    .type-cv span{
        position: absolute;
        font-size: 12px;
        top: 14px;
        left: 25px;
        font-weight: 600;
        color: black;
    }
    .study-p{
        font-size: 12px;
        border: 1px solid #e2e5e7;
        padding-right: 1px;
        display: flex;
        width: 206px;
        height: 40px;
        position: relative;
        bottom: 5px;
    }
    .year{
        position: relative;
        top: 10px;
        border-radius: 32%;
        color: #fff;
        text-align: center;
        width: 46px;
        height: 19px;
        background-color: #39aae0;
        left: 18px;
    }
    i.icon-user-1{
        padding: 7px 9px 0 33px;
    }
    i.icon-lamp{
        padding-top: 7px;
    }
    span.funix{
        padding-top: 9px;
        padding-right: 9px;
    }
    span.developer{
        padding-top: 9px;
    }
    .table{
        position: relative;
        width: 207px;
        border: 1px solid #e2e5e7;
        bottom: 5px
    }

    table.cv{
        width: 207px;
        height: 180px

    }
    table.cv tr, td.td{
        width: 75px;
    }
    table.cv tr, td{
        vertical-align: top;
        font-size: 12px;
    
    }
    /* project 02 */
    .project-02{
        position: relative;
        left: 218px;
    }
    /* project 03 */
    .project-03{
        position: relative;
        left: 197px;
    }
    /* footer */
    #footer.bg-grey{
        margin-top: 20px;
        text-align: center;
        height: 50px;
    }
    ul.footer-f li{
        color: #8f9294;
        font-size: 12px;
        list-style-type: none;
        display: inline-block;
        padding-right: 43px;
    }
    .container-footer {
       font-family: 'Open Sans', sans-serif;
       padding-top: 1px;
       height: 50px;
    }
    i.icon-facebook-circled{
        padding-top: 72px;
        font-size: 20px;
        color: #39aae0;
        position: relative;
        top: 2px;
    }
    i.icon-linkedin-circled{
        padding-top: 72px;
        font-size: 20px;
        color: #39aae0;
        position: relative;
        top: 2px;
    }
    i.icon-github-circled{
        padding-top: 72px;
        font-size: 20px;
        color: #39aae0;
        position: relative;
        top: 2px;
    }
    dl, ol, ul {
        margin-top: 8px;
        margin-bottom: 1rem;
    }
}